<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.name %></p>
		New bid details;<br />
		App Name: <%= @bid.mobile_app.title%><br />
		Bid Amount: $<%= @bid.bid_value%><br />
		Buyer: <%= @bid.user.name%><br />
		<p>Sincerely</p>
		<p>The App Listing Team</p>
  </body>
</html>
