.row
  .four.columns
    .or-create-a-wrapper
      .panel.radius
        %h2
          Edit #{resource_name.to_s.humanize}
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
          = f.error_notification
          = display_base_errors resource
          .row
            .large-12.columns
              = f.input :name, :autofocus => true
          .row
            .large-12.columns
              = f.input :email, :required => true
          .row
            .large-12.columns
              = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
          .row
            .large-12.columns
              = f.input :password_confirmation, :required => false
          .row
            .large-12.columns
              = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
          .row
            .large-12.columns
              = f.button :submit, 'Update', :class => 'btn-primary'
          .row
            .large-12.columns
              %h4 Cancel my account
              %p
                Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
                = link_to "Back", :back
