%section.orange-background
  .row
    .large-6.large-push-3.columns
      %h1 Sign Up

%section.white-background
  .row
    .small-12.large-6.large-push-3.columns
      .panel.radius
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
          = f.error_notification
          = display_base_errors resource
          .row
            .large-12.columns
              = f.input :name, :autofocus => true
          .row
            .large-12.columns
              = f.input :user_name, :required => true
          .row
            .large-12.columns
              = f.input :email, :required => true
          .row
            .large-12.columns
              = f.input :password, :required => true
          .row
            .large-12.columns
              = f.input :password_confirmation, :required => true
          .row
            .large-12.columns
              = f.button :submit, 'Create Account', :class => 'btn-primary'
  .row
    .small-12.large-6.large-push-3.columns
      = render "devise/shared/links"
