<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hello <%= @user.name %>,</p>
    We're responding to your request to change your password at http://<%= ENV['DOMAIN'] %><br />  
		If this is correct, please select the link below to create a new password within the next 48 hours:<br /> 
		<%= link_to "Change my password", edit_admin_user_password_url(@user, :reset_password_token => @token) %><br />
		<br />
		<p>Sincerely,<br />
		The App Listing Team</p>
  </body>
</html>
