Hello <%= @user.name %>,

We're responding to your request to change your password at http://<%= ENV['DOMAIN'] %>.

If this is correct, please select the link below to create a new password within the next 48 hours to change your password:
<%= edit_admin_user_password_url(@user, :reset_password_token => @token) %>

Sincerely,
The App Listing Team
