<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hello <%= @user.name %>,</p>
    <p>Welcome to App Listing!</p>
    <p>If you are an app seller, <%= link_to "Click here to log in and submit your app", new_mobile_app_url %> to be listed for sale on App Listing.</p>
    <p>Otherwise, <%= link_to "browse or search apps", root_url %> to get started!</p>
    <p>Sincerely,<br />
		The App Listing Team</p>
  </body>
</html>
