Hello <%= @user.name %>,

Welcome to App Listing!

If you are an app seller, click here to log in and submit your app to be listed for sale on App Listing:
<%= new_mobile_app_url %>

Otherwise, browse or search apps to get started:
<%= root_url %>

Sincerely,
The App Listing Team
