<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		Commented By </br>
			Name: <%= @comment.user.name %><br />
			
			Email: <%= @comment.user.email %><br />

		Comment: <%= @comment.comment %><br />
		
		<p>Sincerely</p>
		<p>The App Listing Team</p>
	</body>
</html>
