.row
  .small-3.large-2.columns
    = image_tag avatar_url(comment.user, 120)
  .small-9.large-10.columns
    %div{:class => ("white-box-shadow" if author == "seller")}
      .comment-user-name
        = comment.user.name
      .comment-posted
        Posted #{time_ago_in_words(comment.created_at)}
      .comment-body
        = simple_format(comment.comment)
