.row
  .large-12.columns
    - if @comments.blank?
      .panel
        No Comments yet
    - else
      - @comments.each do |comment|
        - if comment.user.id == @mobile_app.user.id
          .comment.app-seller-comment
            = render partial: "/shared/comments/comment", :locals => {:comment => comment, :author => "seller"}
        - else
          .comment.potential-buyer-comment
            = render partial: "/shared/comments/comment", :locals => {:comment => comment, :author => "potential-buyer"}

.row
  .large-12.columns
    - if user_signed_in?
      %h3 Add your comment
      = simple_form_for @comment, url: {action: "create_comments"} do |f|
        = f.text_area :comment
        = f.hidden_field :mobile_app_id, :value => params[:id]
        %br
        = f.submit "Post Comment", :class => "button radius"
    - else
      = link_to("Log in", new_user_session_path(:return_to => request.path, :anchor => "show-comments"))
      or
      = link_to("Sign up", new_user_registration_path(:return_to => request.path, :anchor => "show-comments"))
      to Post a Comment
