.row
  .large-12.columns
    %dl.tabs{"data-tab" => true}
      %dd.active
        %a{href: "#app-screenshots"} App Screenshots
      %dd
        %a{href: "#analytics-screenshots"} Analytics / Revenue Screenshots

    .tabs-content

      #app-screenshots.content.active
        .screenshoturls-container
          .alert-box.secondary
            Drag and drop to reorder
          %ul.sortable
            = f.simple_fields_for :screenshoturls do |s|
              %li
                .row
                  .large-12.columns
                    = render :partial => '/mobile_apps/screenshoturl_fields', :locals => {:f => s }
            .screenshots-container
              %li
                .row
                  = f.simple_fields_for :screenshots do |s|
                    = render :partial => '/mobile_apps/screenshots', :locals => {:f => s, :category => "app_screenshots"}
        .screenshots-upload-container
          .row
            = f.simple_fields_for :screenshots, 8.times.map { f.object.screenshots.new } do |s|
              .large-3.columns
                = render :partial => '/mobile_apps/screenshot_fields', :locals => {:f => s, :category => "app_screenshots" }
      #analytics-screenshots.content
        .screenshots-container
          .row
            = f.simple_fields_for :screenshots do |s|
              = render :partial => '/mobile_apps/screenshots', :locals => {:f => s, :category => "analytics_revenue"}

        .screenshots-upload-container
          .row
            = f.simple_fields_for :screenshots, 8.times.map { f.object.screenshots.new } do |s|
              .large-3.columns
                = render :partial => '/mobile_apps/screenshot_fields', :locals => {:f => s, :category => "analytics_revenue" }
