.alert-box.success.radius{"data-alert" => ""}
	Copy Verification token and paste it in app description.
	%a.close{href: "#"} ×

.row
	.large-12.columns
		= f.input :verification_token, :input_html => {:value => @mobile_app.verification_token, :readonly => true}
