%div#mobile-app-profile-fields
  - if !@app_data.nil?
    .row
      .large-.12.columns
        %h2 Auction Details
        = f.simple_fields_for :auction, @auction do |a|
          = a.input :description
          = a.input :begins_at, :as => :string, :input_html => {:class => "datepicker"}
          = a.input :ends_at, :as => :string, :input_html => {:class => "datepicker"}
          = a.input :minimum_price_usd, :label => "Minimum Price (USD)", :input_html => {:step => 1, :min => 0}
    .row
      .large-12.columns
        %h2
          App Details 
          %small
            (Imported from App Store / Play Store link)
        .row
          .large-12.columns
            = f.input :title, :input_html => {:value => @app_data.title, :readonly => true}

        .row
          .large-12.columns
            = f.input :description, :input_html => {:value => @app_data.description, :readonly => true, :id => 'app-tagline'}

        .row
          .large-12.columns
            = f.input :seller, :input_html => {:value => @app_data.seller_name, :readonly => true}

        .row
          .large-12.columns
            = f.input :category, :input_html => {:value => @app_data.primary_genre_name, :readonly => true}
        .row
          .large-12.columns
            = f.input :updated, :as => :string, :input_html => {:value => @app_data.release_date.nil? ? "" : DateTime.parse(@app_data.release_date).strftime("%Y-%m-%d"), :style => "width: 100px;", :readonly => true}

        .row
          .large-12.columns
            = f.input :version, :input_html => {:value => @app_data.version, :readonly => true}

        .row
          .large-12.columns
            = f.input :size, :input_html => {:value => @app_data.file_size, :readonly => true}

        .row
          .large-12.columns
            = f.input :rating, :input_html => {:value => @app_data.rating, :readonly => true}

        .row
          .large-12.columns
            = f.input :compatibility, :input_html => {:value => @app_data.supported_device, :readonly => true}

        .row
          .large-12.columns
            = f.input :developer_website, :input_html => {:value => @app_data.developer_website, :readonly => true}

  - else
    App Data Not found
