.row
  .large-12.columns
    = f.simple_fields_for :auction do |a|
      = a.input :title, :label => "Auction Title", :required => true
      = a.input :description, :label => "Auction Description", :required => true, :input_html => { :required => true }
      .row
        .large-6.columns
          = a.input :begins_at, :as => :string, :label => "Auction will begin at", :required => true, :input_html => { :class => "datepicker", :required => true, :placeholder => "31-03-#{Time.year.now}"}
        .large-6.columns
          = a.input :ends_at, :as => :string, :label => "Auction will end at", :required => true, :input_html => { :class => "datepicker" }
