.row
  .large-12.columns
    = f.submit "Back", :name => "back_button", :class => "button secondary" unless current_step == MobileApp::STEPS.first
    = f.submit "Cancel and Remove App", :name => "cancel_button", :class => "button alert", :confirm => "Are you sure? This will remove the app from App Listing."
    = f.submit "Save and Continue", :class => "button right" unless current_step == MobileApp::STEPS.last
    = f.submit "Finish and Submit!", :name => "finish_button", :class => "button right success" if current_step == MobileApp::STEPS.last

