- if f.object.category == category
  .large-3.columns
    .fields
      .screenshot-container
        .screenshot
          = image_tag(f.object.screenshot.url(:medium))
        %span.close-button= link_to_remove_fields "Remove", f, false unless f.object.screenshot.url.blank?
