.fields
  #dropzone.fade.well
    %span Drop Image here
  %span (or click to upload)
  %span#upload_status
  = f.input :screenshot, :as => :file,:label =>false, :input_html => {:id => 'image_file'}
  = f.input :category, :as => :hidden, :input_html => {:value => category}
