%section.orange-background
  .row
    .small-12.large-12.columns
      %h1 Submit App

%section.white-background
  .row
    .small-12.large-12.columns
      .wizard-steps
        %div.wizard-step{:class => step_class("app_info")}
          %span 1
          App URL
        %div.wizard-step{:class => step_class("app_profile")}
          %span 2
          Auction Details
        %div.wizard-step{:class => step_class("app_screenshots")}
          %span 3
          Screenshots
        %div.wizard-step{:class => step_class("app_token_generate")}
          %span 4
          Verification Token

