= render "wizard_steps"

%section.gray-background
  .row
    .small-12.large-12.columns

      = simple_form_for @mobile_app, :method => :put do |f|
        = hidden_field_tag :step, params[:step]
        = render "#{current_step}_step", :f => f

        = render "form_buttons", :f => f
