.row
  .small-2.columns
    %select#mobile_app_filter
      %option{value: "most_popular",selected: params[:filter].eql?("most_popular") ? "selected" : false} Most popular
      %option{value: "most_recently_sold",selected: params[:filter].eql?("most_recently_sold") ? "selected" : false} Most recently sold
      %option{value: "purchase_price_high_to_low",selected: params[:filter].eql?("purchase_price_high_to_low") ? "selected" : false} Purchase Price (high to low)
      %option{value: "purchase_price_low_to_high",selected: params[:filter].eql?("purchase_price_low_to_high") ? "selected" : false} Purchase Price (low to high)
      %option{value: "ending_soon", selected: params[:filter].eql?("ending_soon") ? "selected" : false} Ending soon

.row
  .large-11.columns
    - unless @mobile_apps.blank?
      - @mobile_apps.each do |app|
        .row
          .small-3.columns
            %h3= link_to(app.title, mobile_app_path(app.id))
            %br
            = link_to(image_tag(app.screenshoturls.first.url, size: "100"), mobile_app_path(app.id)) unless app.screenshoturls.blank?
          .small-9.columns
            .row
              .large-12.columns
                Buy Now: / Highest Bid: / No. of Bids: 
            .row
              .large-12.columns
                Seller: 
                = app.user.name
                Comments:
                = app.comments.size
            .row
              .large-12.columns
                = app.description
