= render "wizard_steps"

%section.gray-background
  .row
    .small-12.large-12.columns

      = simple_form_for(@mobile_app, :html => { :novalidate => "validate" }) do |f|	
        - if @mobile_app.errors.any?
          .alert-box.alert
            - @mobile_app.errors.full_messages.each do |msg|
              %li= msg
          %br
        = render "#{current_step}_step", :f => f

        = render "form_buttons", :f => f
