%section#show-details.gray-background
  .row
    .large-12.columns
      %h2
        App Bids for
        %span=@mobile_app.title
  .row
    .large-12.columns
      .white-box-shadow
        - if @bids.any?
          %ul
            -@bids.each do |bid|
              %li
                = "#{link_to "#{bid.user.name}", user_path(bid.user)} bid #{number_to_currency(bid.bid_value)} on #{bid.created_at.strftime("%m/%d/%y")}".html_safe
        - else
          .panel.text-center
            No bids for this app yet.