- if (!@mobile_app.published? || @auction.nil?) && user_signed_in? && @mobile_app.user == current_user
  .alert-box
    .row
      .large-12.columns
        %p
          This app does not have an active auction, so this page is only viewable by you, the owner.
        %p
          Edit the app from your profile to verify the app and add auction information.
%section#show-top.orange-background
  .row
    .large-3.columns
      .th
        = image_tag(@mobile_app.screenshoturls.first.url, size: "100") unless @mobile_app.screenshoturls.blank?
    .large-5.columns
      %h1= @mobile_app.title
      .show-seller
        %span.show-label Seller:
        = @mobile_app.user.name
      .show-ends
        - if @auction.nil?
          No Auction has been created for this app.
        - else
          - if @auction.active?
            Listing closes in
            %span.show-value= distance_of_time_in_words(Time.now, @auction.ends_at)
          - else
            Listing has closed
    .large-4.columns
      .row
        .large-8.columns
          %span.show-label Highest Bid:
          %span.show-value
            - if @mobile_app.mobile_app_bid.maximum("bid_value").present?
              = number_to_currency(@mobile_app.mobile_app_bid.maximum("bid_value"), :precision => 0)
            - else
              N/A
        .large-4.columns
          %span.show-value
            = pluralize(@mobile_app.mobile_app_bid.size, "bid")
      .row
        .large-12.columns
          - if user_signed_in?
            - if @auction.nil?
              %button.disabled
                No Auction created.
            - elsif @auction.active?
              = simple_form_for @mobile_app_bid, url: {action: "place_bid"} do |f|
                .row.collapse
                  .small-2.large-1.columns
                    %span.prefix $
                  .small-10.large-11.columns
                    = f.number_field :bid_value, :min => @auction.minimum_price_usd.to_f, :step => 1, :value => (@auction.sell_price_usd > @auction.minimum_price_usd ? @auction.sell_price_usd + MobileAppBid::STEP : @auction.minimum_price_usd).to_i
                = f.hidden_field :mobile_app_id, :value => params[:id]
                = f.submit "Place Your Bid!", :class => "button success radius"
            -else
              %button.disabled
                This Auction has closed.

          - else
            .show-login-or-signup
              = link_to("Log in", new_user_session_path())
              or
              = link_to("Sign up", new_user_registration_path())
              to place a bid
      .row
        .large-12.columns
          - if @auction.try(:active?)
            Minimum Purchase Price: $#{number_to_currency(@auction.minimum_price_usd, unit: "")}

%section#show-details.gray-background
  .row
    .large-8.columns
      %h2
        App
        %span Details

    .large-4.columns
      #show-platforms
        = image_tag "platform-android.jpg", :class => "show-platform show-platform-android" if @mobile_app.android?
        = image_tag "platform-ios.jpg", :class => "show-platform show-platform-ios" if @mobile_app.ios?

        %h4
          Platforms
          %span Available

    .large-8.columns
      .white-box-shadow
        - if @mobile_app.tagline.present?
          #show-tagline
            %span.show-label Tagline:
            = @mobile_app.tagline

        #show-description
          %span.show-label Auction Description:
          = simple_format(@auction.description)
          %span.show-label App Description:
          = simple_format(@mobile_app.description)

    .large-4.columns
      .show-attribute
        %span.show-label Category:
        = @mobile_app.category

      .show-attribute
        %span.show-label Version:
        = @mobile_app.version

      .show-attribute
        %span.show-label Size:
        = @mobile_app.size

      .show-attribute
        %span.show-label Rating:
        = @mobile_app.rating

      .show-attribute
        %span.show-label Compatibility:
        - if @mobile_app.compatibility.present?
          .compatibility-list= @mobile_app.compatibility.split(',').join(', ')

      .show-attribute
        %span.show-label Developer Apps:
        = @mobile_app.developer_apps

      .show-attribute
        %span.show-label Developer Website:
        = link_to "View", @mobile_app.developer_website unless @mobile_app.developer_website.blank?

      .show-attribute
        %span.show-label Privacy Policy:
        = link_to "View", @mobile_app.privacy_policy unless @mobile_app.privacy_policy.blank?

      .show-attribute
        %span.show-label App Support:
        = @mobile_app.app_support

- if @mobile_app.all_screenshots.any?
  %section#show-screenshots.white-background
    .row
      .large-8.columns
        %h2 Screenshots

        = render "/shared/screenshots", :categorized_screenshots => @mobile_app.all_screenshots_categorized

      .large-4.columns
        .white-box-shadow
          %h4 Seller

          .row
            .large-5.columns
              = image_tag(avatar_url(@mobile_app.user), :class => "show-seller-avatar")
            .large-7.columns
              .show-seller-name
                = @mobile_app.user.name
              .show-seller-since
                Seller since #{@mobile_app.user.created_at.to_formatted_s(:month_and_year)}

%section#show-comments.gray-background
  .row
    .large-12.columns
      %h2 Comments

  = render partial: "/shared/comments/index"
