.row
  .large-12.columns
    .control-group
      = label_tag(:name, 'Name')
      = text_field_tag(:name, @user.name.present? ? @user.name : nil, :class => "name", :id => "name", :placeholder => "John Smith")    
      %small
.row
  .large-12.columns
    .control-group
      = label_tag(:email, 'Email')
      = text_field_tag(:email, @user.email.present? ? @user.email : nil, :class => "email", :id => "email", :placeholder => "jsmith@example.com")    
      %small
.row 
  .large-12.columns
    .control-group
      = label_tag(:street_address, 'Street Address')
      = text_field_tag(:street_address, @user.street_address.present? ? @user.street_address : nil, :class => "street_address", :id => "street_address", :placeholder => "1600 Pennsylvania Avenue")
      %small 
.row 
  .large-12.columns
    .control-group
      = label_tag(:zipcode, 'Zipcode')
      = text_field_tag(:zipcode, @user.zipcode.present? ? @user.zipcode : nil, :class => "zipcode", :id => "zipcode", :placeholder => "20500")
      %small      
.row
  .large-12.columns
    .control-group
      = label_tag(:date_of_birth_month, 'Date of Birth')
      .row
        .large-6.columns
          = select_month(1, {}, { :class => 'span1', :id => 'guest-date_of_birth_month', :name => 'date_of_birth_month' })
          %small
        .large-6.columns
          = select_tag(:date_of_birth_year, options_for_select(1900.upto(Time.now.year).map{ |num| [num,num] }), :class => 'span1', :id => 'guest-date_of_birth_year')
          %small
.row
  .large-12.columns
    .control-group
      = label_tag(:account_number, "Bank Account Number")
      = text_field_tag(:account_number, nil, :class => "account_number", :id => "account_number", :placeholder => "7777777777777")
      %small
.row
  .large-12.columns
    .control-group
      = label_tag(:routing_number, "Bank Routing Number")
      = text_field_tag(:routing_number, nil, :class => "routing_numner", :id => "routing_numner", :placeholder => "100000000" )
      %small
.row
  .large-12.columns
    .control-group
      = label_tag(:account_type, "Bank Account Type")
      = select_tag(:account_type, options_for_select([["Checkings Account", "checking"], ["Savings Account", "savings"]]))
    %small