%section.orange-background
  .row
    .small-12.large-12.columns
      %h1 Edit Account

%section.white-background
  .row
    .small-12.large-4.columns
      = image_tag avatar_url(@user, 200), :id => "profile-avatar"
      = link_to "Change Profile Image", "http://en.gravatar.com/", :target => "_blank", :class => "button secondary small", :id => "profile-avatar-change"
      = link_to "Edit Payment Information", payment_path, :class => "button small"

    .small-12.large-8.columns
      = simple_form_for @user do |f|
        = f.error_notification
        = display_base_errors @user
        .row
          .large-12.columns
            = f.label "Username"
            = f.text_field :user_name, :disabled => true
        .row
          .large-12.columns
            = f.label "Name"
            = f.input_field :name
        .row
          .large-12.columns
            = f.label "Email"
            = f.input_field :email
        .row
          .large-12.columns
            = f.input :street_address
        .row
          .large-12.columns
            = f.input :zipcode
        .row
          .large-12.columns
            = f.input :comment_notification_off, :label => "Turn off comment email notifications from App Listing Site"
        .row
          .large-12.columns
            = f.submit "Update", :class => "button success"
            or
            = link_to 'Cancel', user_path(@user)
