- content_for :head do
  = javascript_include_tag 'balanced_payments'

%section.orange-background
  .row
    .large-12.columns
      %h1 Account Payment Information

- if @bank_name.present?
  %section.gray-background
    .row
      .large-12.columns
        %h2 Current account
        %h6 Bank Name:
        = @bank_name
        %h6 Account Number:
        = @account_number.upcase
        %h6 Routing Number:
        = @routing_number
        %h6 Account Type:
        = @account_type.upcase

%section.white-background
  .row
    .large-12.columns
      %h2 New Account
      = form_tag({:controller => 'users', :action => 'payment_post', :method => 'post'},{:id => 'bank-account-form'}) do
        = render :partial => "payment_fields"
        %button{:type => "submit"}
          - if @bank_name.present?
            Change Bank Account
          - else
            Add Bank Account

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
