%section.orange-background
  .row
    .small-4.large-3.columns
      = image_tag avatar_url(@user, 200), :id => "profile-avatar"
      - if user_signed_in? && current_user == @user
        = link_to "Change Profile Image", "http://en.gravatar.com/", :target => "_blank", :class => "button secondary small", :id => "profile-avatar-change"

    .small-8.large-9.columns
      - if user_signed_in? && current_user == @user
        = link_to "Account Settings", edit_user_path(@user), :class => "button right", :id => "profile-edit"

      %h1= @user.name

      %span.profile-label Member Since:
      = @user.confirmed_at.present? ? @user.confirmed_at.strftime("%b %d, %Y") : "N/A"

      #profile-apps
        .row
          .small-4.large-4.columns.text-center
            .profile-label Apps Listed
            .profile-value= @user.auctions.size unless @user.auctions.nil?

          .small-4.large-4.columns.text-center
            .profile-label Apps Sold
            .profile-value= @user.auctions.where(:sold => true).size unless @user.auctions.nil?

          .small-4.large-4.columns.text-center
            .profile-label Apps Bought
            .profile-value= @user.won_auctions.size

- if user_signed_in? && current_user == @user
  %section.gray-background
    .row
      .small-12.large-12.columns
        %h3 Apps submitted for sale

        - if @user.mobile_apps.any?
          %table
            %tr
              %th
                App Name
              %th
                Type
              %th
                Store Verification
              %th
                Verification Token
              %th
                Auction
              %th
                Bids
              %th
                Actions
            - @user.mobile_apps.each do |mobile_app|
              %tbody
                %tr
                  %td
                    = link_to mobile_app.title, auction_path(mobile_app)
                  %td
                    = mobile_app.ios? ? "iOS" : "Android"
                  %td
                    - if mobile_app.published?
                      .label.round.success
                        Verified
                    - else
                      .label.round.alert
                        = mobile_app.state.titlecase
                  %td
                    .app-verification-token
                      = link_to "Show token", "#", :class => "show-token"
                      %div.the-token
                        = mobile_app.verification_token
                  %td
                    - if mobile_app.auction.present?
                      .label.round{:class => auction_label_class(mobile_app.auction.state)}
                        = mobile_app.auction.state.titleize
                    - else
                      .label.round.alert
                        No auction data
                  %td.text-center
                    = link_to mobile_app.mobile_app_bid.size, auction_bids_path(mobile_app)
                  %td
                    - if mobile_app.auction.ended?
                      %i Auction ended
                    - else
                      = link_to "Edit Listing", edit_mobile_app_path(mobile_app), :class => "button tiny secondary"
        - else
          .panel
            No apps listed.


%section.white-background
  .row
    .small-12.large-7.columns
      %h3 Apps Sold

      - if @user.auctions.where(:sold => true).any?
        %table
          %tr
            %th
              App Name
            %th
              Type
            %th
              Min Purchase Price
            %th
              Sell Price
            %th
              No. of bids
          - @user.mobile_apps.each do |mobile_app|
            - if mobile_app.auction.sold?
              %tbody
                %tr
                  %td
                    = link_to mobile_app.title, auction_path(mobile_app.id)
                  %td
                    = mobile_app.ios? ? "iOS" : "Android"
                  %td.text-center
                    = number_to_currency(mobile_app.minimum_purchase_price, :unit => "$")
                  %td
                    = mobile_app.auction.present? ? number_to_currency(mobile_app.auction.sell_price_usd.presence || 0) : "N/A"
                  %td.text-center
                    = link_to mobile_app.mobile_app_bid.size, auction_bids_path(mobile_app)
      - else
        .panel
          No apps listed.

    .small-12.large-5.columns
      %h3 Apps purchased

      - if @user.paid_mobile_apps.any?
        %table
          %tr
            %th
              App Name
            %th
              Type
            %th
              Price
          - @user.paid_mobile_apps.each do |mobile_app|
            %tbody
              %tr
                %td
                  = link_to mobile_app.title, auction_path(mobile_app.id)
                %td
                  = mobile_app.ios? ? "iOS" : "Android"
                %td
                  = mobile_app.auction.present? ? number_to_currency(mobile_app.auction.sell_price_usd.presence || 0) : "N/A"
      - else
        .panel
          No apps listed.
