.row
  .four.columns
    .or-create-a-wrapper
      .panel.radius
        %h2 Forgot your password
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          .row
            .large-12.columns
              %label= f.label :email
              = f.email_field :email, :autofocus => true
          .row
            .large-12.columns
              = f.submit "Send me reset password instructions", :class => 'btn-primary'
        .row
          = render "devise/shared/links"
