.row
	.large-12.columns
		%h1= @mobile_app.title
		%hr
	.row
		.large-3.columns
			= image_tag(@mobile_app.screenshoturls.first.url, size: "100") unless @mobile_app.screenshoturls.blank?
		.large-8.columns
			.row
				.large-12.columns
					Seller: 
					= @mobile_app.user.name
					Comments:
					= "#{(@comments.size)}"
				.large-12.columns
					Buy Now: $#{number_to_currency(@mobile_app.minimum_purchase_price, unit: "")} / Highest Bid: $#{number_to_currency(@mobile_app.mobile_app_bid.maximum("bid_value"), unit: "")} / No. of Bids: #{@mobile_app.mobile_app_bid.size}
			.row
				.large-12.columns
					Listing closes in 10 days
					%br
					- if user_signed_in?
						= simple_form_for @mobile_app_bid, url: {action: "place_bid"} do |f|
							= f.text_field :bid_value
							= f.hidden_field :mobile_app_id, :value => params[:id]
							= f.submit "Place Bid"
					%br
					- if !user_signed_in?
						= link_to("Log in", new_user_session_path())
						or 
						= link_to("Sign up", new_user_registration_path())
						to place a bid
