.row
  .large-12.columns

    %dl.tabs{"data-tab" => true}
      - categorized_screenshots.each do |category, screenshots|
        %dd{:class => ("active" if category == categorized_screenshots.keys.first)}
          %a{href: "#screenshots-#{category}"}= category.titleize

    .tabs-content
      - categorized_screenshots.each do |category, screenshots|
        .content.show-screenshots{:id => "screenshots-#{category}", :class => ("active" if category == categorized_screenshots.keys.first)}
          %ul.clearing-thumbs{"data-clearing" => ""}
            - screenshots.reject{ |s| s.url.blank? }.each do |screenshot|
              %li.show-screenshot.th
                = link_to screenshot.url do
                  = image_tag(screenshot.url)
