/
  .row
    .small-2.columns
      %select.mobile_app_filter
        %option{value: "most_popular",selected: params[:filter].eql?("most_popular") ? "selected" : false} Most popular
        %option{value: "most_recently_sold",selected: params[:filter].eql?("most_recently_sold") ? "selected" : false} Most recently sold
        %option{value: "purchase_price_high_to_low",selected: params[:filter].eql?("purchase_price_high_to_low") ? "selected" : false} Purchase Price (high to low)
        %option{value: "purchase_price_low_to_high",selected: params[:filter].eql?("purchase_price_low_to_high") ? "selected" : false} Purchase Price (low to high)
        %option{value: "ending_soon", selected: params[:filter].eql?("ending_soon") ? "selected" : false} Ending soon

- if mobile_apps.blank?
  .row
    .large-12.columns
      .panel
        No apps listed
- else
  - mobile_apps.each_slice(3) do |apps|
    .row.list-row
      - apps.each do |app|
        .large-4.columns
          .list-app.white-box-shadow
            .list-app-top
              .list-app-icon-container
                = link_to(auction_path(app.id), :class => "th list-app-icon") do
                  = image_tag(app.screenshoturls.first.url, size: "100") unless app.screenshoturls.blank?
              .list-title
                %h3
                  = link_to(auction_path(app.id)) do
                    = app.title.presence || "<em>No Title</em>".html_safe
              %span.list-label Platform
              = image_tag "platform-android.jpg", :class => "list-platform list-platform-android" if app.android?
              = image_tag "platform-ios.jpg", :class => "list-platform list-platform-ios" if app.ios?
              %br.clear

            .list-app-middle
              %span.list-label Auction Description
              %p.list-description
                = truncate(app.auction.description.presence || "<em>(No description)</em>".html_safe, :length => 250)
              %p
                = link_to "Learn More...", auction_path(app.id)

            .list-app-bottom
              .row
                .large-4.columns
                  %span.list-label Current Price
                  .list-value
                    - if app.mobile_app_bid.maximum("bid_value").present?
                      = number_to_currency(app.mobile_app_bid.maximum("bid_value"), :precision => 0)
                    - else
                      = number_to_currency(app.minimum_purchase_price, :precision => 0)
                .large-4.columns
                  %span.list-label Numnber of Bids
                  .list-value
                    #{app.mobile_app_bid.size}
                .large-4.columns
                  %span.list-label
                    Time Left
                    %span Ending
                  .list-value
                    - if app.auction.active?
                      %span.show-value= distance_of_time_in_words(Time.now, app.auction.ends_at)
                    - else
                      %i Closed
