= form_tag search_path, :method => :get do
  .row
    .small-8.large-8.columns
      = text_field_tag :q, params[:q], :placeholder => "I'm looking for...", :class => "radius"
    .small-4.large-4.columns
      %label Platform
      = radio_button_tag :platform, "android", params[:platform] == "android"
      = label_tag :platform_android, "Android"
      = radio_button_tag :platform, "ios", params[:platform] == "ios"
      = label_tag :platform_ios, "iOS"
  .row
    .small-12.large-6.large-offset-3.columns
      = submit_tag("Find your app!", :class => "button success radius")
