#homepage
  %section#splash.orange-background
    .row
      .small-12.large-4.columns
        = image_tag "splash-iphone.png"
      .small-12.large-8.columns
        %h1 Get the app you want in auction!
        = render "search_form"

  %section#first-time.dark-gray-background
    .row
      .small-12.columns.text-center
        %span First time to App Listing?
        We can help you find the apps that are right for you.
        = link_to 'Sign up', new_user_registration_path

  %section#featured-apps.gray-background
    .row
      .small-12.columns
        %h2
          Recently Listed
          %span Apps
        = render partial: "mobile_apps_index", locals: { mobile_apps: @featured}

  %section#popular-apps.white-background
    .row
      .small-12.columns
        %h2
          Popular
          %span Apps
        = render partial: "mobile_apps_index", locals: { mobile_apps: @popular}

  %section#want-to-sell.orange-background
    .row
      .small-12.columns.text-center
        %h2
          Want to sell an App? Learn how to sell you App with us!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .
        = link_to "Find your app!", "#", :class => "button radius success"

  %section#sold-apps.gray-background
    .row
      .small-12.columns
        %h2
          Recently Sold
          %span Apps
        = render partial: "mobile_apps_index", locals: { mobile_apps: @recently_sold}	
