#homepage
  %section#search-splash.orange-background
    .row
      .small-12.large-12.columns
        %h1 Search Apps
        = render "search_form"

  %section#featured-apps.gray-background
    .row
      .small-12.columns
        %h2
          Search
          %span Results
          %small
            %em
              "#{params[:q]}"
              - if params[:platform].present?
                in #{params[:platform].titleize}
        = render partial: "mobile_apps_index", locals: { mobile_apps: @mobile_apps }
