%section.orange-background
  .row
    .large-12.columns
      %h1 Contact Us

%section.gray-background
  .row
    .large-12.columns
      = form_for @message, :url => contacts_create_path do |form|
        .row
          .large-12.columns
            = form.label "Your Name *"
            = form.text_field :name
        .row
          .large-12.columns
            = form.label "Your Email *"
            = form.text_field :email
        .row
          .large-12.columns
            = form.label :phone
            = form.text_field :phone
        .row
          .large-12.columns
            = form.label "Subject *"
            = form.text_field :subject
        .row
          .large-12.columns
            = form.label "Message *"
            = form.text_area :body
        .row
          .large-12.columns
            = form.submit "Send", :class => "button"
