<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hello <%= @user.name %></p>
    You've won the auction for <%= @mobile_app.title %>! Please see visit the <%= link_to "Auction Payments", auction_payments_url %> to enter your payment information.
    <br />
		<p>Sincerely</p>
		<p>The App Listing Team</p>
  </body>
</html>
