Hello <%= @user.name %>,

You've won the auction for <%= @mobile_app.title %>! Please see visit the following link to enter your payment information:
<%= auction_payments_url %>

Sincerely
The App Listing Team
