Hello <%= @user.name %>,

Your auction for <%= @mobile_app.title %> has ended on App Listing.

<% if @mobile_app.mobile_app_bid.any? %>
You will be notified once more once the auction winner has submitted their payment.
<% else %>
There were no bids made.
<% end %>

Sincerely
The App Listing Team
