<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hello <%= @user.name %></p>
    <p>Your auction for <%= @mobile_app.title %> has ended on App Listing.</p>
    <% if @mobile_app.mobile_app_bid.any? %>
      <p>You will be notified once more once the auction winner has submitted their payment.</p>
    <% else %>
      <p>There were no bids made.</p>
    <% end %>
    <br />
		<p>Sincerely</p>
		<p>The App Listing Team</p>
  </body>
</html>
