<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hello <%= @seller.name %>,</p>
    <p>The payment has been received for the <%= @mobile_app.title %>! Please see visit the <%= link_to "Auction Bids", auction_bids_url(@mobile_app) %> to view payment information.</p>
    <br />
		<p>Sincerely</p>
		<p>The App Listing Team</p>
  </body>
</html>
