Hello <%= @seller.name %>,

The payment has been received for the <%= @mobile_app.title %>! Please see visit the Auction Bids page below to view payment information:
<%= auction_bids_url(@mobile_app) %>

Sincerely,
The App Listing Team
