%section.orange-background
  .row
    .large-6.large-push-3.columns
      %h1 Sign In
%section.white-background
  .row
    .small-12.large-6.large-push-3.columns
      .panel.radius
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
          .row
            .large-12.columns
              = f.input :email, :autofocus => true
          .row
            .large-12.columns
              = f.input :password
          .row
            .large-12.columns
              = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
          .row
            .large-12.columns
              = f.button :submit, "Sign in", :class => 'btn-primary'
  .row
    .small-12.large-6.large-push-3.columns
      = render "devise/shared/links"
