%section#show-details.gray-background
  .row
    .large-12.columns
      %h2
        My Payments 
  .row
    .large-12.columns
      .white-box-shadow
        %h3
          Auctions you have successfully paid for
        - if @paid_auctions.any?
          .panel
            %ul
              -@paid_auctions.each do |auction|
                %li
                  = link_to "Payment of #{number_to_currency(auction.winning_bid.bid_value, :precision => 0)} was recieved for \"#{auction.mobile_app.title}\" on #{auction.payment.created_at.strftime("%m/%d/%y")}", auction_payment_path(auction.payment)
        - else
          .panel.text-center
            No paid auctions.
  .row
    .large-12.columns
      .white-box-shadow
        %h3
          Auctions still needing payment
        - if @unpaid_auctions.any?
          .panel
            %ul
              -@unpaid_auctions.each do |auction|
                %li
                  = link_to "Payment of #{number_to_currency(auction.winning_bid.bid_value, :precision => 0)} needed for #{auction.mobile_app.title}", auction_payment_pay_path(auction)
        - else
          .panel.text-center
            No unpaid auctions.