- content_for :head do
  = javascript_include_tag 'payments'
%section#show-details.gray-background
  .row
    .large-12.columns
      %h2.text-center
        = "Payment for #{@auction.mobile_app.title}"
  .row
    .large-6.large-centered.columns
      = form_tag({:controller => 'payments', :action => 'pay_post', :method => 'post'}, {:id => "payment-form"}) do
        .row
          .large-12.columns
            = label_tag(:payee_name, "Payee Name", :class => "required")
            = text_field_tag(:payee_name, current_user.name, :type => "text", :class => "name", :id => "guest_name", :placeholder => "John Smith", :required => true, :disabled => true)
        .row
          .large-12.columns
            = label_tag(:guest_email, "Payee Email", :class => "required")
            = text_field_tag(:guest_email, current_user.email, :type => "email", :class => "email", :id => "guest_email", :placeholder => "jsmith@example.com", :required => true, :disabled => true)
        .row
          .large-12.columns
            = label_tag(:amount, "Amount to pay (in dollars)", :class => "required")
            = text_field_tag(:amount, number_to_currency(@auction.winning_bid.bid_value, :precision => 0), :class => "amount", :id => "contribution_amount", :placeholder => "123.45", :required => true, :disabled => true)
        .row
          .large-12.columns
            .control-group
              = label_tag :card_number, :class => "required" do
                %span Credit Card Number
                %small Required
              .input
                = text_field_tag(:card_number, nil,  :class => 'cc-number', :id => 'card_number', :placeholder => "•••• •••• •••• ••••", :required => true)
        .row
          .large-12.columns
            .row
              .large-8.columns
                .control-group
                  = label_tag :'exp-month' do
                    %span Expires (MM/YYYY)
                    %small Required
                  .row.collapse
                    .large-4.columns
                      .input
                        = text_field_tag(:'expiration_month', nil, { :placeholder => "MM", :class => "cc-em sensitive", size: "2", type: "text", :required => true} )
                    .large-8.columns
                      .input
                        = text_field_tag(:'expiration_year', nil, { :placeholder => "YYYY", :class => "cc-ey sensitive", size: "4", type: "text", :required => true } )
              .large-4.columns
                .control-group
                  = label_tag :security_code, :class => "required" do
                    %span Security Code
                    %small Required
                  .input
                    = text_field_tag(:security_code, nil, :class => 'cc-csc', :required => true, :id => 'security_code', :placeholder => "•••")
        .row
          .large-4.columns
            .control-group
              = label_tag :billing_zip_code, :class => "required" do
                %span Billing Zipcode
                %small Required
              .input
                = text_field_tag(:postal_code, nil, :class => "zip", :required => true, :placeholder => "48104", :id => 'postal_code')
        .row
          .large-12.columns.texzt-center
            %button{:type => "submit", :class => "#{"disabled" if !@bank_name.present?}"}
              - if @bank_name.present?
                Pay for App
              - else
                You cannot pay for this app

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>