%section#show-details.gray-background
  .row
    .large-12.columns
      %h2.text-center
        = "Payment for #{@auction.mobile_app.title}"
  .row
    .large-6.large-centered.columns.panel
      .row
        .large-6.columns
          %h6 Mobile App Purchased
        .large-6.columns
          = link_to @auction.mobile_app.title, auction_path(@auction.mobile_app)
      .row
        .large-6.columns
          %h6 Payee Name
        .large-6.columns
          = @payment.user.name
      .row
        .large-6.columns
          %h6 Payee Email
        .large-6.columns
          = @payment.user.email
      .row
        .large-6.columns
          %h6 Amount Paid
        .large-6.columns
          = number_to_currency((@payment.amount/100).to_i, :precision => 0)
      .row
        .large-6.columns
          %h6 Credit Card #
        .large-6.columns
          = "XXXX-XXXX-XXXX-#{@last_four}"
      .row
        .large-6.columns
          %h6 Purchased on
        .large-6.columns
          = @payment.created_at.strftime("%m/%d/%y")

    .row
      .large-6.large-centered.columns
        = link_to "Back to All Payments", auction_payments_path, :class => "button"