$(document).ready ($) ->
  (($) ->
    $.fn.serializeObject = ->
      o = {}
      a = @serializeArray()
      $.each a, ->
        if o[@name] isnt `undefined`
          o[@name] = [o[@name]]  unless o[@name].push
          o[@name].push @value or ""
        else
          o[@name] = @value or ""
        return

      o

    return
  ) jQuery
  isCalling = undefined

  submitBankAccount = (e) ->
    $form = $("form#bank-account-form")
    $form.find(".control-group").removeClass "error"
    
    #  validate form
    merchantData = $form.serializeObject()
    merchantData.dob = merchantData.date_of_birth_year + "-" + merchantData.date_of_birth_month

    delete merchantData.date_of_birth_year
    delete merchantData.date_of_birth_month

    unless merchantData.name
      addErrorToField $form, "name", "Please enter a name"
    else
      removeErrorFromField $form, "name"

    unless balanced.emailAddress.validate(merchantData.email_address)
      addErrorToField $form, "email_address", "Please enter a valid email address"
    else
      removeErrorFromField $form, "email_address"

    if not merchantData.street_address or merchantData.street_address.replace(/\s/g, "") is ""
      addErrorToField $form, "street_address", "Please enter a street address"
    else
      removeErrorFromField $form, "street_address"

    unless merchantData.zipcode
      addErrorToField $form, "zipcode"
    else
      removeErrorFromField $form, "zipcode"

    unless merchantData.phone_number
      addErrorToField $form, "phone_number", "Please enter a phone number"
    else
      removeErrorFromField $form, "phone_number"

    if merchantData.account_number and merchantData.account_number.replace(/\s/g, "") is ""
      addErrorToField $form, "account_number", "Please enter an account number"
    else
      removeErrorFromField $form, "account_number"

    if merchantData.routing_number and merchantData.routing_number.replace(/\s/g, "") is ""
      addErrorToField $form, "routing_number", "Please enter a routing number"
    else
      removeErrorFromField $form, "routing_number"

    hasBankAccount = false
    if merchantData.account_number and merchantData.routing_number
      hasBankAccount = true
      addErrorToField $form, "routing_number", "Your routing number was invalid"  unless balanced.bankAccount.validateRoutingNumber(merchantData.routing_number)
      addErrorToField $form, "account_number", "You did not include an account number"  unless merchantData.account_number
    else
      unless merchantData.account_number
        addErrorToField $form, "account_number", "You did not include an account number"
      unless merchantData.routing_number
        addErrorToField $form, "routing_number", "Your routing number was invalid"
    if $form.find(".control-group small.error").length
      e.preventDefault()
      return
    if hasBankAccount
      console.log("preventing")
      e.preventDefault()
      disableForm $form
      showProcessing "Adding bank account...", 33
      balanced.bankAccount.create merchantData, onCardTokenized
    return

  onCardTokenized = (response) ->
    sensitiveFields = [
      "account_number"
      "routing_number"
      "account_type"
    ]
    $form = $("#bank-account-form")
    hideProcessing()
    switch response.status
      when 201
        removeSensitiveFields $form, sensitiveFields
        $form.find("input,select").removeAttr "disabled"
        showProcessing "Performing identity check...", 66
        $("<input type=\"hidden\" name=\"bank_account_uri\" value=\"" + response.data.uri + "\">").appendTo $form
        $form.unbind("submit", submitBankAccount).submit()
    return

  
  #  todo - what if we have a 409?
  showProcessing = (message, progress) ->
    progress = progress or 50
    $loader = $(".loading")
    unless $loader.length
      $loader = $("<div class=\"loading\">" + "<div class=\"progress progress-striped active\">" + "<div class=\"bar\"></div>" + "</div>" + "<p>&nbsp;</p>" + "</div>")
      $loader.appendTo "body"
    $loader.find(".bar").css width: progress + "%"
    $loader.find("p").text message
    $loader.css(
      left: $("body").width() / 2 - $loader.width() / 4
      top: "400px"
    ).show()
    return

  hideProcessing = ->
    $(".loading").hide()
    return

  showError = (message) ->
    $alert = $(".alert:visible")
    $alert.remove()  if $alert.length
    $alert = $("<div class=\"alert alert-absolute alert-block alert-error\">" + "<button class=\"close\" data-dismiss=\"alert\">&times;</button>" + "<h4 class=\"alert-heading\">Error!</h4>" + message + "</div>")
    $alert.appendTo("body").css(
      left: $("body").width() / 2 - $alert.width() / 4
      top: "400px"
    ).show()
    return

  hideError = ->
    $(".alert").hide()
    return

  resetForm = ($form) ->
    $form = $("form")  unless $form
    $form.find(".control-group small").removeClass "error"
    $form.find("input,button,select").removeAttr "disabled"
    return

  disableForm = ($form) ->
    $form.find("input, button, select").attr "disabled", "disabled"
    return

  addErrorToField = ($form, fieldName, error) ->
    $controlGroup = $form.find("[name$=\"" + fieldName + "\"]").closest(".control-group")
    $controlGroup.addClass("error")
    $controlGroup.find("small").addClass("error").html error
    return

  removeErrorFromField = ($form, fieldName) ->
    $controlGroup = $form.find("[name$=\"" + fieldName + "\"]").closest(".control-group")
    $controlGroup.removeClass("error")
    $controlGroup.find("small").removeClass("error").html ""
    return

  removeSensitiveFields = ($form, sensitiveFields) ->
    i = 0

    while i < sensitiveFields.length
      sensitiveFields[i] = "[name$=\"" + sensitiveFields[i] + "\"]"
      i++
    sensitiveFields = sensitiveFields.join(",")
    $form.find(sensitiveFields).closest(".control-group").remove()
    return

  balanced.init '<%= "#{ENV['BALANCED_MARKETPLACE_URI']}" %>'
  $("form#bank-account-form").submit submitBankAccount
  $("[data-dismiss=\"alert\"]").on "click", (e) ->
    $(this).closest(".alert").fadeOut "fast"
    resetForm()
    e.preventDefault()
    return

  return
