# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/jQuery(function($) {
# stripeResponseHandler = (status, response) ->
#   $form = $("#payment-form")
#   if response.error
#     # Show the errors on the form
#     $form.find(".payment-errors").text(response.error.message).show()
#     $form.find("button").prop "disabled", false
#   else
#     # token contains id, last4, and card type
#     token = response.id
#     # Insert the token into the form so it gets submitted to the server
#     $form.append $("<input type=\"hidden\" name=\"stripeToken\" />").val(token)
#     # Remove sensitive fields in form
#     $("input.sensitive").each (index, element) ->
#       $(this).remove()
#     # and submit
#     $form.get(0).submit()

isValidUSZip = (sZip) ->
  /^\d{5}(-\d{4})?$/.test sZip

addCreditCardFormErrors = ($object, name) -> 
  $object.parent('.input').addClass('error');
  $object.after("<small class='error'>This " + name + " is not valid.</small>")

removeErrors = -> 
  console.log("Removing errors")
  $(".input.error").each (index, element) ->
    $(this).find("small.error").remove()
    $(this).removeClass("error")

$(document).ready ->
  (($) ->
    $.fn.serializeObject = ->
      o = {}
      a = @serializeArray()
      $.each a, ->
        if o[@name] isnt `undefined`
          o[@name] = [o[@name]]  unless o[@name].push
          o[@name].push @value or ""
        else
          o[@name] = @value or ""
        return

      o

    return
  ) jQuery

  completePurchase = (response) ->
    $form = $("form#payment-form")
    sensitiveFields = [
      "card_number"
      "expiration_month"
      "expiration_year"
      "security_code"
      "postal_code"
      "amount"
    ]
    switch response.status
      when 201
        #  IMPORTANT - remove sensitive data to remain PCI compliant
        removeSensitiveFields $form, sensitiveFields
        console.log("Yay, it worked!")
        $form.find("input").removeAttr "disabled"
        $("<input type=\"hidden\" name=\"card_uri\" value=\"" + response.data.uri + "\">").appendTo $form
        $form.unbind("submit").submit()
      when 400
        fields = [
          "card_number"
          "expiration_month"
          "expiration_year"
          "security_code"
          "postal_code"
        ]
        found = false
        i = 0

        while i < fields.length
          unless not eval("response.error." + fields[i])
            resetForm $form
            addErrorToField $form, fields[i], eval("response.error." + fields[i])
          i++
        unless found
          console.warn "missing field - check response.error for details"
          console.warn response.error
      when 402
        console.warn "we couldn't authorize the buyer's credit card - check response.error for details"
        console.warn response.error
        showError "We couldn't authorize this card, please check your card details and try again"
      when 404
        console.warn "your marketplace URI is incorrect"
      when 500
        console.error "Balanced did something bad, this will never happen, but if it does please retry the request"
        console.error response.error
        showError "Balanced did something bad, please retry the request"
  disableForm = ($form) ->
    $form.find("input:visible, button:visible, select:visible").attr "disabled", "disabled"
    return
  resetForm = ($form) ->
    $form = $("form")  unless $form
    $form.find(".control-group small").removeClass "error"
    $form.find("input,button,select").removeAttr "disabled"
    return
  addErrorToField = ($form, fieldName, error) ->
    $controlGroup = $form.find("[name$=\"" + fieldName + "\"]").closest(".control-group")
    $controlGroup.addClass("error")
    $controlGroup.find("small").addClass("error").html error
    return
  removeSensitiveFields = ($form, sensitiveFields) ->
    i = 0

    while i < sensitiveFields.length
      sensitiveFields[i] = "[name$=\"" + sensitiveFields[i] + "\"]"
      i++
    sensitiveFields = sensitiveFields.join(",")
    $form.find(sensitiveFields).closest(".control-group").remove()
    return

  balanced.init '<%= "#{ENV['BALANCED_MARKETPLACE_URI']}" %>'

  $creditCard = $("input.cc-number")
  $cvc = $("input.cc-csc")
  $expMonth = $("input.cc-em")
  $expYear = $("input.cc-ey")
  $zipcode = $("input.zip")

  $creditCard.payment "formatCardNumber"
  $cvc.payment "formatCardCVC"



  $("#payment-form").submit (event) ->
    $form = $(this)
    console.log("Submitting Form")

    removeErrors()

    validCC = $.payment.validateCardNumber($creditCard.val())
    validCVC = $.payment.validateCardCVC($cvc.val())
    validExpiry = $.payment.validateCardExpiry($expMonth.val(),$expYear.val());
    validZipcode = isValidUSZip($zipcode.val())

    if !validCC || !validCVC || !validExpiry || !validZipcode
      console.log("Something is invalid!")
      if !validCC
        addCreditCardFormErrors $creditCard, "Credit Card number"
      if !validCVC
        addCreditCardFormErrors $cvc, "CVC number"
      if !validExpiry
        addCreditCardFormErrors $expMonth, "Expiration Date"
        addCreditCardFormErrors $expYear, "Expiration Date"
      if !validZipcode
        addCreditCardFormErrors $zipcode, "Zipcode"
      false
    else 
      console.log("Everything looks valid")
      # Disable the submit button to prevent repeated clicks
      $form.find("button").prop "disabled", true
      cardData = $form.serializeObject()
      disableForm $form
      console.log("Processing")
      console.log(cardData)
      balanced.card.create(cardData, completePurchase);
    return false