// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homepage {
  #splash,
  #search-splash {
    input[type="text"] {
      font-size: 1.25rem;
      height: 3rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    label {
      color: #fff;
    }
  }

  #splash {
    padding: 1.25em 0 0;

    h1 {
      margin-top: 0.3em;
      font-size: 2.65rem;
      font-weight: normal;
    }

    .button {
      font-size: 2rem;
      -moz-box-shadow: 4px 6px 2px #f26b1d;
      -webkit-box-shadow: 4px 6px 2px #f26b1d;
      box-shadow: 4px 6px 2px #f26b1d;
    }
  }

  #first-time {
    font-size: 1.5rem;

    span {
      font-weight: bold;
    }

    a {
      text-transform: uppercase;
    }
  }

  #featured-apps {
  }

  #popular-apps {
  }

  #want-to-sell {
    color: #fff;

    h2 {
      font-weight: normal;
    }
  }

  #sold-apps {
  }
}

.row .row.list-row {
  margin-bottom: 1.5em;
}

.list-app {
  .list-app-top {
    h3 {
      line-height: 0.9;
      margin-bottom: 0.5em;
    }

    .list-label {
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: bold;
      color: #999;
      line-height: 19px;
    }

    .list-platform {
      float: right;
    }

    .list-title {
      border-bottom: solid 1px #d7d6d6;
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: 10px;

      a {
        color: #333;
        font-size: 18px;
        font-weight: bold;
        margin-right: 16px;
      }
    }

    .list-app-icon-container {
      float: left;
    }
    .list-app-icon {
      width: 100px;
      background: #eee;
      min-height: 100px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  .list-app-middle {

    .list-label,
    .list-description {
      font-size: 0.8em;
    }

    .list-label {
      font-weight: bold;
    }

    .list-description {
      margin-top: 10px;
    }
  }

  .list-app-bottom {
    border-top: solid 1px #d7d6d6;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -10px;
    padding: 0 16px;

    .column,
    .columns {
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: solid 1px #d7d6d6;
      min-height: 4.8em;
      text-align: center;

      .list-label {
        display: block;
        color: #ff742c;
        text-transform: uppercase;
        font-size: 0.7em;
        line-height: 1.1em;
        font-weight: normal;

        span {
          text-transform: none;
        }
      }

      .list-value {
        margin-top: 10px;
        font-weight: bold;
      }

      &:last-child {
        border-right: none;

        .list-label {
          color: #09c5a3;
        }
      }
    }

  }
}
