.alert-box {
  margin-bottom: 0;
  &.notice a {
    color: #0B6274;
  }
  &.error {
    background-color: #FF0000;
    color: #FFF;
    a {
      color: #CCC;
    }
  }
  p {
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

#main {
  section {
    padding: 1.5em 0;
  }

  h2,
  h3,
  h4 {
    font-weight: bold;

    span {
      color: #999;
      font-weight: lighter;
    }
  }
}

.orange-background {
  background: #ff8e33;
  border-top: solid 7px #f57b18;
  color: #fff;

  &:first-child {
    border-top: solid #f2740f 7px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a:not(.button) {
    color: #fff;
  }

  a:not(.button) {
    text-decoration: underline;
  }
}

.gray-background {
  background: #f6f5f2;
  border-top: solid 7px #fff;

  .tabs-content {
    background: #fff;
    border: solid 1px #d7d6d6;
    border-top: none;
    padding: 0px 16px;
  }
}

.dark-gray-background {
  background: #95a4a7;
  color: #fff;

  a {
    color: #00e6bd;
    text-shadow: 0px 0px 4px #333;
  }
}

.white-background {
  background: #fff;
  border-top: solid 7px #e7e7e7;
}

.white-box-shadow {
  background: #fff;
  padding: 10px 16px;
  border: solid 1px #d7d6d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0px #d7d6d6;
  -moz-box-shadow: 5px 5px 0px #d7d6d6;
  box-shadow: 5px 5px 0px #d7d6d6;
  color: #666;
}

.contain-to-grid {
  background: #fff;
}
.top-bar {
  background: #fff;
  height: 70px;
  padding: 10px 0;
}
.top-bar-section {
  .has-form {
    background: #fff;

    .button {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  li:not(.has-form) a:not(.button) {
    background: #fff;
    font-weight: normal;

    &:hover {
      background-color: #ff742c;
    }
  }

  ul li > a {
    color: #7f8388;

    &.sign-up {
      color: #ff742c;

      &:hover {
        color: #fff;
      }
    }
  }
}
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}

.button {
  -moz-box-shadow: 4px 6px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: 4px 6px 2px rgba(0,0,0,0.25);
  box-shadow: 4px 6px 2px rgba(0,0,0,0.25);
}

.tabs {
  border-bottom: solid 1px #d7d6d6;
}
.tabs dd.active {
  border: solid 1px #d7d6d6;
  border-bottom-color: #fff;
  margin-bottom: -1px !important;
}
.tabs dd > a {
  display: block;
  background: transparent;
}

.clear {
  width: 100%;
  height: 0;
  clear: both;
}

#follow-us {
  background: #666;
  padding: 1.5em;
  border-top: solid 7px #fff;

  h2 {
    color: #ccc;
  }

  .social-links {
    float: right;

    a {
      display: inline-block;
      line-height: 50px;
      margin-left: 50px;
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

footer {
  background: #333;
  color: #d9d9d9;
  padding: 1.5em;
  font-size: 1.1em;
}
