// Place all the styles related to the mobile_apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-top {
  .show-login-or-signup {
    margin: 1em 0 0;
    line-height: 1.7;
  }

  .show-value {
    font-weight: bold;
  }
}

#show-tagline {
  margin-bottom: 1em;
}

#show-description {
  margin-top: 0.5em;

  p {
    line-height: 1.3em;
  }
}

.show-label {
  display: inline-block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#show-platforms {
  .show-platform {
    float: right;
    margin-top: 0.85rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    line-height: 2.25em;
  }
}

.compatibility-list {
  margin: 0 0 0.5em 0.5em;
}

.show-screenshots {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 300px;
  white-space: nowrap;

  .show-screenshot {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    max-width: 50%;
    overflow: hidden;
    *display: inline; /* For IE7*/
    *zoom: 1; /* For IE7*/

    &:first-child {
      margin-left: 1px;
    }
    &:last-child {
      margin-right: 1px;
    }

    img {
      height: 250px;
      max-width: initial;
    }
  }
}

.clearing-thumbs li, [data-clearing] li {
  float: none;
}

.show-seller-avatar {
}

.show-seller-name {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.show-seller-since {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.comment {
  margin-bottom: 1em;
  color: #999;

  .comment-user-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &.app-seller-comment {
    .comment-user-name {
      color: #44D6F2;
    }
  }

  .comment-posted {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 1em;
    color: #999;
  }

  .comment-body {
    p {
      margin-bottom: 1em;
      color: #666;
    }
  }
}

.sortable li { 
	display:-moz-inline-box; 
	-moz-box-orient:vertical;
  display:inline-block; 
	vertical-align:top; 
  cursor: move;
	}

.sortable li > * { display:table; table-layout:fixed; width:200px; overflow:hidden; }

.screenshot-container
{
  padding-right: 15px;
  margin-bottom: 10px;
}

#app-screenshots .alert-box {
  margin-bottom: 1em;
}

.screenshots-container
{
}

/* = STEPS CONTAINER
----------------------------*/
.wizard-steps {
    margin: 0px 0px 0px 14px;
    padding:0px;
    position: relative;
    clear:both;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.wizard-steps div {
    position:relative;
}
/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 14px;
    text-align:center;
    width: 21px;
    margin: 2px 7px 0px 3px;
    line-height:18px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-step {
    position:relative;
    display:block;
    width:auto;
    height: 36px;
    margin-right: 25px;
    padding: 5px 10px 5px 3px;
    float: left;
    font-size:18px;
    line-height:24px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}
.wizard-step:before {
    width:0px;
    height:0px;
    border-top: 18px solid #F0EEE3;
    border-bottom: 18px solid #F0EEE3;
    border-left:18px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -18px;
}
.wizard-step:after {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left:18px solid #F0EEE3;
    position: absolute;
    content: "";
    top: 0px;
    right: -18px;
}
 
/* = COMPLETED STEPS
----------------------------*/
 
.wizard-step.completed-step {
    color:#163038;
    background: #A3C1C9;
}
.wizard-step.completed-step:before {
    border-top-color: #A3C1C9;
    border-bottom-color: #A3C1C9;
}
.wizard-step.completed-step:after {
    border-left-color: #A3C1C9;
}
.wizard-step.completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-step.active-step {
    color:#A3C1C9;
    background: #163038;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-step.active-step:before {
    border-top-color: #163038;
    border-bottom-color: #163038;
}
.wizard-step.active-step:after {
    border-left-color: #163038;
}
.wizard-step.active-step span {
    color: #163038;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
    border: 2px solid #A3C1C9;
}

.app-info-panel,.app-profile-panel,.app-screenshots-panel,.app-token-panel
{
	float: right;
	margin-right: 15px;
}

.countdown {
  margin-top: -0.8rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  display: block;
  color: #666;
}

#screenshot_upload_box
{
	list-style: none;
}

.fields
{
	float: left;
}

.screenshots-container
{
	position: relative;
}
.screenshots-upload-container
{
	margin-top: absolute;
	bottom: 0;
  .fields {
    border: solid 1px #ddd;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
}

input[readonly="readonly"], textarea[readonly="readonly"] {
  background-color: #ccc;
}
