// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.payments.pay {
  #main section.panel.bank-account {
    padding: 10px;
    h6 {
      font-weight: bold;
    }
  }
}