// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-avatar {
  margin-bottom: 0.5em;
}

#profile-avatar-change {
  width: 200px;
}

#profile-edit {
}

#profile-apps {
  margin-top: 1em;
  font-size: 1.5em;

  .profile-label {
    margin-bottom: 0.5em;
  }

  .profile-value {
    font-size: 2em;
  }
}

.app-verification-token {
  .the-token {
    display: none;
    position: absolute;
    background: #fff;
    padding: 0.5em 1.2em;
    z-index: 10;
    border: solid 1px #ddd;
    -moz-box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.25);
  }
}
