<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%=@user.user_name%>,
    </p><p>
      Your account is nearly ready to use on App Listing.<br />
      <%= link_to "Click here to activate your account.", confirmation_url(@user, :confirmation_token => @token) %>
    </p><p>
      If you have any problems with activation, just reply to this email and our dedicated support team will help you out.
    </p><p>
      We look forward to having you on board.
    </p><p>
      Kind Regards,<br />
      The App Listing Team
    </p>
  </body>
</html>
