Hi <%=@user.user_name%>,

Your account is nearly ready to use on App Listing. 
Click here to activate your account: <%= confirmation_url(@user, :confirmation_token => @token) %>

If you have any problems with activation, just reply to this email and our dedicated support team will help you out.

We look forward to having you on board.

Kind Regards,
The App Listing Team
