= semantic_form_for [:admin,@user] do |f|
  = f.inputs "User details" do
    = f.semantic_errors *f.object.errors.keys
    = f.input :email
    = f.input :name
    = f.input :comment_notification_off, :label => "Turn off comment email notifications from App Listing Site:"
    - unless @user.new_record?
      %li.input.optional
        %label.label User Name
        %label.label= @user.user_name
      %li.input.optional
        %label.label No. of Apps Uploaded
        %label.label= @user.mobile_apps.size
      %li.input.optional
        %label.label No. of Apps Sold
        %label.label= @user.mobile_apps.size
      %li.input.optional
        %label.label No. of Apps Bought
        %label.label= @user.mobile_apps.size
      %li.input.optional
        %label.label Date Created
        %label.label= @user.created_at.strftime("%b %d,%Y %H:%M:%S")
      %li.input.optional
        %label.label Date Activated
        %label.label= @user.confirmed_at.strftime("%b %d,%Y %H:%M:%S") unless @user.confirmed_at.nil?
      %li.input.optional
        %label.label Created By
        %label.label= @user.create_by
    = f.actions do
      = f.action :submit
      %li.cancel= link_to 'Cancel', admin_users_path
