<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
    <p>Hello <%= @user.name %>,</p>
    <p>Your app, <%= @mobile_app.title %>, has been verified and published for sale on App Listing.</p>
    <p><%= link_to "View your app's auction page", auction_url(@mobile_app) %> or check your app's status on the <%= link_to "proile page", user_url(@user) %>.</p>
		<p>Sincerely,<br />
    The App Listing Team</p>
	</body>
</html>
