Hello <%= @user.name %>,

Your app, <%= @mobile_app.title %>, has been verified and published for sale on App Listing.

View your app's auction page: <%= auction_url(@mobile_app) %> or check your app's status on the profile page: <%= user_url(@user) %>.

Sincerely,
The App Listing Team</p>
