Name: <%= @message.name %>

Email: <%= @message.email %>

Phone: <%= @message.phone unless @message.phone.nil? %>

Subject: <%= @message.subject unless @message.subject.nil? %>

Message: <%= @message.body unless @message.body.nil? %>

Sincerely,
<%= @message.name %>
