<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		Name: <%= @message.name %><br />

		Email: <%= @message.email %><br />

		Phone: <%= @message.phone unless @message.phone.nil? %><br />

		Subject: <%= @message.subject unless @message.subject.nil? %><br />

		Message: <%= @message.body unless @message.body.nil? %><br />
		<p>Sincerely</p>
		<p><%= @message.name %></p>
	</body>
</html>
