.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to root_path, :class => 'brand' do
            = image_tag "app-listing-logo.png"
    %section.top-bar-section
      %ul.left
        %li.has-form
          = form_tag(search_path, method: "get") do
            .row.collapse
              .large-8.small-9.columns
                = text_field_tag(:q, "", :placeholder => "Find Stuff")
              .large-4.small-3.columns
                = submit_tag("Search", :class => "button secondary expand")
      %ul.right
        %li= link_to 'Contact Us', contact_path
        - if user_signed_in?
          %li= link_to 'My Profile', user_path(current_user.id)
          %li= link_to 'My Payments', auction_payments_path
          %li= link_to 'Submit App', new_mobile_app_path
          %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path, :class => 'sign-up'
