!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "#{t(:app_name)}"
    %meta{:content => content_for?(:description) ? yield(:description) : "no description", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      = render 'layouts/navigation'
      = render 'layouts/messages'
    %section#main{:role => "main"}
      = yield
      %section#follow-us
        .row
          .large-12.columns
            .social-links
              = link_to image_tag("social-twitter.png"), "#", :title => "App Listing on Twitter"
              = link_to image_tag("social-facebook.png"), "#", :title => "App Listing on Facebook"
            %h2 Follow us to keep up with the latest news!
      %footer
        .row
          .large-12.columns
            &copy; #{Date.today.year} App Listing All Rights Reserved
